*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrap{
  display: flex;
  width: 100vw;
  height: 100vh;
}
.wrap_left{
  width: 70%;
  height: 100%;
  /* padding: 8%; */
}
.decorate{
  padding-left: 8%;
  width: 100%;
  /* background: #ccc; */
}
.logobox{
  padding: 8%;
  width: 100%;
  /* background: #ccc; */
}
.logobox_text{
  color: #957544;
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 400;
  font-style: normal;
  
}
.wrap_right{
  width: 30%;
  height: 100%;
  background: #957544;
}
.loginWhiteBg{
  width: 380px;
  height: 450px;
  background: url(./images/loginwhitebg.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 20%;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
}
.loginWhiteBg h3{
  color: #3C1B08;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.loginWhiteBg input{
  width: 100%;
  line-height: 35px;
  margin-top: 20px;
  background: none;
  outline: none;
  border: 1px solid #EAEAEA;
  border-radius: 50px;
  padding: 0 20px;
}
.pswdbtnbox{
  display: flex;
  width: 100%;
  color: #666666;
  font-size: 14px;
  margin-top: 20px;
}
.pswdbtn{
  display: flex;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  position: relative;
  margin-top: 3px;
}
.pswd{
  width: 100%;
  height: 100%;
  outline: none;
  background: none;
  border: 1px solid #957544;
  border-radius: 50%;
}
.pswdchecked{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.btnBox{
  width: 100%;
  height: 50px;
  margin-top: 90px;
  position: relative;
}
button{
  border: none;
  outline: none;
  width: 100%;
  color: #fff;
  letter-spacing: 5px;
  line-height: 35px;
  text-align: center;
  /* margin-top: 60px; */
  background: #957544;
  border-radius: 50px;
}
.grayBtn{
  position: absolute;
  top: 0;
  left: 0;
  background: #ccc;
  display: none;
}
.tip{
  padding-left: 30px;
  color: red;
  line-height: 25px;
  display: none;
}